<!DOCTYPE html>
<html>
<head>
	<meta content="text/html;charset=UTF-8"http-equiv="Content-Type">
</head>
<body>
	<h1>Um usu치rio est치 interessado em adotar o seu Pet</h1>
	<p> Um usu치rio est치 interessado em adotar o seu pet <%=@pet.name%>
	</p>
</body>
</html>
