<div class="keep-shopping pv1 mt4 has-text-right">
	<%= link_to 'Continuar Buscando', pets_path, class: 'button is-warning' %>
</div>

<section class="section">
	<%= render(@cart.line_items) %>



	<div class="columns">
		<div class="column">
			<%= button_to 'Limpar', @cart, method: :delete, data: {confirm: "Tem certeza? "}, class: "button is-danger" %>
		</div>
	</div>
</section>	